<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="/startbootstrap-modern-business-gh-pages/pictures/if-favicon.ico" />

    <title>Igralniški forum</title>

    <!-- Bootstrap core CSS -->
    <link href="/startbootstrap-modern-business-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/startbootstrap-modern-business-gh-pages/css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="http://localhost:8080/index/">Igralniški forum</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/index/">Domov</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kontakt/">Kontakt Adminov</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Igre
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="http://localhost:8080/index/sah/">Šah</a>
                <a class="dropdown-item" href="http://localhost:8080/index/runescape/">Runescape</a>
                <a class="dropdown-item" href="http://localhost:8080/index/fortnite/">Fortnite</a>
				<a class="dropdown-item" href="http://localhost:8080/index/skyrim/">Sykrim</a>
                <a class="dropdown-item" href="http://localhost:8080/index/pubg/">Player Unknown's Battlegrounds</a>
                <a class="dropdown-item" href="http://localhost:8080/index/supermario/">Super Mario</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="messenger/">Klepet</a>
            </li>
			</li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/logout/">Odjavi se</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/startbootstrap-modern-business-gh-pages/pictures/IMG_73194.jpg')">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/startbootstrap-modern-business-gh-pages/pictures/IMG_73207.jpg')">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/startbootstrap-modern-business-gh-pages/pictures/IMG_73217.jpg')">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
		%if user is not None:
			<h1 class="my-4">Dobrodošel {{user}}!</h1>
		%end
     
      <!-- Vse Novice -->
      <h2>Novice</h2>

      <div class="row">
		%if 'rs' in igre:
        <div id="rs" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/rs1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Old school Runescape presegla Runescape 3 v številu igralcev</a>
              </h4>
              <p class="card-text">Le 5 let po izdaji OSRS je le ta presegla njenega starejšega brata v številu igralcev.</p>
            </div>
          </div>
        </div>
		%end
		%if 'sah' in igre:
        <div id="sah" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/chess1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Magnus Carlsen premagal nekega Indijca</a>
              </h4>
              <p class="card-text">Norvežan Magnus Carlsen je posebnež med vrhunskimi šahisti. Ne le da je najboljši na svetu in da si lasti več rekordov, velja tudi za najbolj priljubljenega.</p>
            </div>
          </div>
        </div>
		%end
		%if 'sky' in igre:
        <div id="skyrim" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/sky1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Skyrim prodala 6 miljonov kopij v Sloveniji</a>
              </h4>
              <p class="card-text">Vse čestitke gredo razvijalcem igri Skyrim, saj je do letošnjega leta prodala že 6 miljonov kopij. Prav neverjeten dosešek, to je do sedaj uspelo le peščici ustvarjalcev video iger.</p>
            </div>
          </div>
        </div>
		%end
		%if 'fort' in igre:
        <div id="fort" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/fort1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Fortnite izdala četrto sezono</a>
              </h4>
              <p class="card-text">Nova sezona in nove zanimive stvari se obetajo v igri Fortnite. V tej TPS igri, se 100 igralcev spusti na bojišče in se streljajo dokler eden ne pride ven kot zmagovalec. Fortnite trenutno velja kot najbolj igrana igra na svetu.</p>
            </div>
          </div>
        </div>
		%end
		%if 'mario' in igre:
        <div id="mario" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/mario1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Super Mario preživel trk z želvinim oklepom</a>
              </h4>
              <p class="card-text">Mario želimo ti čim hitrejše okrevanje in upamo, da se kmalu pozdraviš</p>
            </div>
          </div>
        </div>
		%end
		%if 'pubg' in igre:
        <div id="pubg" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/pubg1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Se igri Player Unknown's Battlegrounds obetajo težki časi?</a>
              </h4>
              <p class="card-text">Ni in ni konca slabih odločitev za podjetje Blueballs entartainment. Ljudje se čudijo kako lahko tako nesposobni ljudje zaslužijo tako veliko, vendar še vseeno v več kot enem letu ne popravijo igre.</p>
            </div>
          </div>
        </div>
		%end
		%if 'rs' in igre:
        <div id="rs" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/rs4.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Runescape Mobile, bo sploh kdaj tu?</a>
              </h4>
              <p class="card-text">Ljudje so že čisto obupani. Igra Runescape bi mogla priti ven na mobilne telefone že decembra 2017 vendar je trenutno še kar v zaprti beta verziji. Jo bomo sploh kdaj dočakali?</p>
            </div>
          </div>
        </div>
		%end
		%if 'sah' in igre:
        <div id="sah" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/chess2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Magnus Carlsen premagal še nekega drugega Indijca</a>
              </h4>
              <p class="card-text">Prav neverjetno česa vsega je ta mož sposoben. Res vrhunski igralec šaha.</p>
            </div>
          </div>
        </div>
		%end
		%if 'sky' in igre:
        <div id="skyrim" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/sky2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Skyrim prodala še naknadnih 5 kopij.</a>
              </h4>
              <p class="card-text">Tako je bralci, odkar sem napisal prvo objavo je Skyrim prodala še naknadnih 5 kopij. Zares neverjeten dosežek</p>
            </div>
          </div>
        </div>
		%end
		%if 'fort' in igre:
        <div id="fort" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/fort2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Fortnite še vedno prevladuje med igrami.</a>
              </h4>
              <p class="card-text">Tako je Fortnite je še kar dobra igra, meni se pa rahlo tega ne da več pisati, mislim da bom od sedaj naprej kar kopiral novice iz spletne strani 24 ur.</p>
            </div>
          </div>
        </div>
		%end
		%if 'mario' in igre:
        <div id="mario" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/mario2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Nintendo bo izdala popolnoma novo igro Super Mario.</a>
              </h4>
              <p class="card-text">Janez Janša, ki je s svojo stranko SDS očitno zmagovalec tokratnih predčasnih volitev, se je v prvem odzivu po zaprtju volišč zahvalil vsem, ki so danes odšli na volišče.</p>
            </div>
          </div>
        </div>
		%end
		%if 'pubg' in igre:
        <div id="pubg" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/pubg2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">PUBG ima še kar napake v igri</a>
              </h4>
              <p class="card-text">Alternativa za tiste, ki ne želijo nikomur oddati glasu, je t. i. šaljiva stranka. Pri nas je še nismo imeli, poznajo pa jo na Madžarskem. Stranka dvorepega psa je s kandidatom, ki nosi kostum kokoši, pritegnila pozornost svetovnih medijev.</p>
            </div>
          </div>
        </div>
		%end
		%if 'rs' in igre:
        <div id="rs" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/rs3.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Več kot 10% igralcev na OSRS je računalnikov.</a>
              </h4>
              <p class="card-text">Proizvajalci igre se trudijo, vendar ne uspejo napisati dovolj dobrega programa, ki bi to preprečeval.</p>
            </div>
          </div>
        </div>
		%end
		%if 'sah' in igre:
        <div id="sah" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/chess4.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Magnus Carlsen premagal še tretjega Indijca</a>
              </h4>
              <p class="card-text">Čestitke Magnus Carlsen.</p>
            </div>
          </div>
        </div>
		%end
		%if 'sky' in igre:
        <div id="skyrim" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/sky3.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Še ena novica o Skyrim</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
		%end
		%if 'fort' in igre:
        <div id="fort" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/fort3.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Igralec Fortnita: "Samo zgradi".</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
		%end
		%if 'mario' in igre:
        <div id="mario" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/mario3.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Super Mario Karts sedaj na Nintendo Switch</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
          </div>
        </div>
		%end
		%if 'pubg' in igre:
        <div id="pubg" class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/startbootstrap-modern-business-gh-pages/pictures/pubg3.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Igri Player Unknown's Battlegrounds se še kar obetajo težki časi</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
		%end
      </div>
      <hr>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; LessIsMore 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/startbootstrap-modern-business-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="/startbootstrap-modern-business-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	

  </body>

</html>
