<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnc_HQknZdF5zbJe-RE5xOAFI1wXtarBQ&callback=myMap"></script>
	<link rel="shortcut icon" type="image/x-icon" href="/startbootstrap-modern-business-gh-pages/pictures/if-favicon.ico" />

    <title>Igralniški forum</title>

    <!-- Bootstrap core CSS -->
    <link href="/startbootstrap-modern-business-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/startbootstrap-modern-business-gh-pages/css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index/">Igralniški forum</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index/">Domov</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kontakt Adminov</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Igre
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/index/sah/">Šah</a>
                <a class="dropdown-item" href="/index/runescape/">Runescape</a>
                <a class="dropdown-item" href="/index/fortnite/">Fortnite</a>
				<a class="dropdown-item" href="/index/skyrim/">Sykrim</a>
                <a class="dropdown-item" href="/index/pubg/">Player Unknown's Battlegrounds</a>
                <a class="dropdown-item" href="/index/supermario/">Super Mario</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index/messenger/">Klepet</a>
            </li>
			</li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Odjavi se</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Kontakt adminov</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/index/">Domov</a>
        </li>
        <li class="breadcrumb-item active">Kontakt</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
          <div style="float: left;">
			  <div id="map" style="width:720px;height:500px;"></div>
			  <script>
					var locations = [
						['Gaming Forum d.o.o<br/>Jadranska 21<br/>1000 Ljubljana<br/>tel: (+386) 40 123 456', 46.042191, 14.489972, 1]
					];

					var map = new google.maps.Map(document.getElementById('map'), {
					  zoom: 10,
					  center: new google.maps.LatLng(46.042191, 14.489972),
					  mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					var infowindow = new google.maps.InfoWindow();

					var marker, i;

					for (i = 0; i < locations.length; i++) { 
					  marker = new google.maps.Marker({
						position: new google.maps.LatLng(locations[i][1], locations[i][2]),
						map: map
					  });

					  google.maps.event.addListener(marker, 'click', (function(marker, i) {
						return function() {
						  map.setCenter(marker.getPosition())
						  map.setZoom(14)
						  infowindow.setContent(locations[i][0]);
						  infowindow.open(map, marker);
						}
					  })(marker, i));
					}
				</script>
				</div>
			</div>
			<!-- Contact Details Column -->
			<div class="col-lg-4 mb-4"">
			  <h3>Kontaktne informacije</h3>
			  <p>
				21 Jadranska cesta
				<br>Ljubljana, Slovenija
				<br>
			  </p>
			  <p>
				Phone: (+386) 40 123 456
			  </p>
			  <p>
				Email:
				<a href="mailto:gaming@forum.com">gaming@forum.com
				</a>
			  </p>
			  <p>
				Hours: Ponedeljek - Petek: 7:00 do 15:00 
			  </p>
			</div>
		</div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" style="margin-top:130px">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; LessIsMore 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/startbootstrap-modern-business-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="/startbootstrap-modern-business-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="/startbootstrap-modern-business-gh-pages/js/jqBootstrapValidation.js"></script>
    <script src="/startbootstrap-modern-business-gh-pages/js/contact_me.js"></script>

  </body>

</html>
