<!DOCTYPE html>

<html lang="slo">
<head>
	<title>Igralniški forum</title>
	<link rel="stylesheet" type="text/css" href="/startbootstrap-modern-business-gh-pages/css/login-register.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/startbootstrap-modern-business-gh-pages/pictures/if-favicon.ico" />
	
<body>
	<div class="siteWidth">
		<form action="." role="form" method="post" class="form">
		<div class="logo">
			<img src="/startbootstrap-modern-business-gh-pages/pictures/if-logo.png" alt="Igralniški forum" class="logo">
		</div>
		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="username" placeholder="Vnesi Uporabniško Ime" 
				%if username:
					value="{{username}}"
				%end
			name="username" required autofocus>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Vnesi Geslo" name="password" required>
			
			<button type="submit">Login</button>
			<h5>
				%if napaka is not None:
						{{napaka}}
				%end
			</h5>
		</div>
		</form>

		<div class="container" style="background-color:#f1f1f1">
			<span class="register">
				<a href="/registration/">Nov uporabnik - Registracija</a>
			</span>
		</div>
	</div>

	



</body>
</head>
