<!DOCTYPE html>

<html lang="slo">
<head>
	<title>Igralniški forum</title>
	<link rel="stylesheet" type="text/css" href="/startbootstrap-modern-business-gh-pages/css/registration_igre.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/startbootstrap-modern-business-gh-pages/pictures/if-favicon.ico" />
	
<body>

<script>
var siteWidth = 960;
var scale = screen.width /siteWidth

document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteWidth+', initial-scale='+scale+'');
</script>

<div class="content">
	<div class="siteWidth">
		<div class="logo">
			<img src="/startbootstrap-modern-business-gh-pages/pictures/if-logo.png" alt="Igralniški forum" class="logo">
		</div>
		%if user is not None:
			<h2 class="h2">
				Pozdravljen {{user}}, izberi si igre katere igraš tako, da klikneš na polje, ki predstavlja dano igro.
			</h2>
		%end
		<div class="contentWidth">
			<a href="/registration/igre/sah/">
				<div class="polje1" id="sah" style="height:220px;">
					<div class="oknce1">
						<p>Šah</p>
					</div>
					<img id="slika" src="/startbootstrap-modern-business-gh-pages/pictures/chess3001.jpg" width="100%" alt="10 let garancije">			
				</div>
			</a>
			<a href="/registration/igre/runescape/">
				<div class="polje2" id="rs" style="height:220px;">
					<div class="oknce2">
						<p>Runescape</p>
					</div>
					<img id="slika" src="/startbootstrap-modern-business-gh-pages/pictures/rs3001.png" width="100%" alt="50 let Smedba">
				</div>
			</a>
			<br>
		</div>
		<div class="contentWidth">
			<a href="/registration/igre/fortnite/">
				<div class="polje1" id="fort" style="height:220px;">
					<div class="oknce1">
						<p>Fortnite</p>
					</div>
					<img id="slika" src="/startbootstrap-modern-business-gh-pages/pictures/fort3003.jpg" width="100%" alt="10 let garancije">			
				</div>
			</a>
			<a href="/registration/igre/skyrim/">
				<div class="polje2" id="sky" style="height:220px;">
					<div class="oknce2">
						<p>Skyrim</p>
					</div>
					<img id="slika" src="/startbootstrap-modern-business-gh-pages/pictures/sky3001.jpg" width="100%" alt="50 let Smedba">
				</div>
			</a>
			<br>
		</div>
		<div class="contentWidth">
			<a href="/registration/igre/pubg/">
				<div class="polje1" id="pubg" style="height:220px;">
					<div class="oknce1">
						<p>Player Unknown's Battlegrounds</p>
					</div>
					<img id="slika" src="/startbootstrap-modern-business-gh-pages/pictures/pubg3001.jpg" width="100%" alt="10 let garancije">			
				</div>
			</a>
			<a href="/registration/igre/supermario/">
				<div class="polje2" id="mario" style="height:220px;">
					<div class="oknce2">
						<p>Super Mario</p>
					</div>
					<img id="slika" src="/startbootstrap-modern-business-gh-pages/pictures/mario3001.jpg" width="100%" alt="50 let Smedba">
				</div>
			</a>
			<br>
		</div>
		<a href="http://localhost:8080/index/">
			<button>Na domačo stran</button>
		</a>
	</div>
</div>
	
<script>
%for igra in igre:
    document.getElementById("{{igra}}").style.opacity = "0.5";
%end
</script>


</body>
</head>