<!DOCTYPE html>
<html lang="slo">
<head>
	<title>Igralniški forum</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<meta name="author" content="Vid Križnar">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="pictures/if-favicon.ico" />

<body>
	<div id="header">
		<div class="header">
			<div class="siteWidth">
				<div id="logo">
					<a href="" id="logo">
						<img src="pictures/if-logo.png" alt="Igralniški Forum" style="height:100px;border:0;">
					</a>
				</div>
				
				<div id="pomoc_zgoraj">
					<ul>
						<li class="first">
							<a href="login.html">Odjava</a>
						</li>
						<li class="last">
							<a href="index.html">Domov</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>
	
	<div id="dropdown_menies">
		<div class="siteWidth">
			<ul>
				<li class="first_one">
					<a href="">Skupnosti</a>
				</li>
				<li class="normal">
					<a href="">Igralci</a>
				</li>
				</li>
				<li class="normal">
					<a href="">Igre</a>
					<ul>
						<li class="first">
							<a href="">Fortnite</a>
						</li>
						<li class="normal">
							<a href="">Player Uknown's Battlegrounds</a>
						</li>	
						<li class="normal">
							<a href="">Runescape</a>
						</li>
						<li class="normal">
							<a href="">Call of Duty</a>
						</li>
						<li class="last">
							<a href="">Šah</a>
						</li>
					</ul>	
				</li>
				<li class="last_one">
					<a href="">Domov</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	
	
</body>
</head>