<!DOCTYPE html>

<html lang="slo">
<head>
	<title>Igralniški forum</title>
	<link rel="stylesheet" type="text/css" href="css/login-register.css">
	<meta name="author" content="Vid Križnar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="pictures/if-favicon.ico" />
	
<body>
	<div class="siteWidth">
		<form action="#" class="form">
		<div class="logo">
			<img src="pictures/if-logo.png" alt="Igralniški forum" class="logo">
		</div>

		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>
			
			<button type="submit">Login</button>
		</div>

		<div class="container" style="background-color:#f1f1f1">
			<span class="register">
				<a href="registration.html">Nov uporabnik - Registracija</a>
			</span>
		</div>
	</div>
</form>
	



</body>
</head>
