<!DOCTYPE html>

<html lang="slo">
<head>
	<title>Igralniški forum</title>
	<link rel="stylesheet" type="text/css" href="css/login-register.css">
	<meta name="author" content="Vid Križnar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="pictures/if-favicon.ico" />
	
<body>
	<div class="siteWidth">
		<form action="#" class="form" style="width:500px">
		<div class="logo">
			<img src="pictures/if-logo.png" alt="Igralniški forum" class="logo" style="width: 500px">
		</div>

		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Vnesi Uporabniško Ime" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Vnesi Geslo" name="psw" required>
			
			<label for="name"><b>Ime</b></label>
			<input type="text" placeholder="Vnesi Ime" name="name" required>
			
			<label for="sname"><b>Priimek</b></label>
			<input type="text" placeholder="Vnesi Priimek" name="sname" required>
			
			<label for="mail"><b>E-Mail</b></label>
			<input type="text" placeholder="Vnesi Email" name="email" required>
			
			<button type="submit">Registriraj se</button>
		</div>

		<div class="container" style="background-color:#f1f1f1">
			<span class="register">
				<a href="login.html">Obstoječ uporabnik - Prijavi se</a>
			</span>
		</div>
	</div>
</form>
	



</body>
</head>